<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticación</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="header"> 
    <div class=miApp> <H3>MiApp</H3> </div> 
</div>
    



    <div class="auth"> 
        <div class="auth__container">
            <h1 class="auth__title">Iniciar sesión</h1>
            <form action="/login" method="POST" class="auth__form">
                <div class="auth__input-group">
                    <label for="username" class="auth__label">Usuario:</label>
                    <input type="text" id="username" name="username" required class="auth__input">
                </div>
                <div class="auth__input-group">
                    <label for="password" class="auth__label">Contraseña:</label>
                    <input type="password" id="password" name="password" required class="auth__input">
                </div>
                <button type="submit" class="auth__button">Entrar</button>
            </form>





    </div>
</body>
</html>