<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticación</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="header"> 
    <div class=miApp> <H3>MiApp</H3> </div> 
</div>
    

    <div class="auth"> 

        <div class="auth-container">
             <h2 class="account">Create an account</h2>
             <h4 class="text-addemail">Enter your email to sign up for this app</h4>
                <div class="input">
                    <input type="text" class="email-input" placeholder="email@domain.com">
                </div>
                <button type="signup" class="signup-buttom">Sign up with email</button>
                <div class="divider">or continue with</div>
                <button type="google" class="google-button"> <img src="/assets/icons/Google.png" class="google-icon"> Google</button>
                
        </div>

        <div class="terms-container">
            <p class="terms-text">
              By clicking continue, you agree to our 
              <span class="terms-bold">Terms of Service</span> and 
              <span class="terms-bold">Privacy Policy</span>
            </p>
          </div>

    </div>
</body>
</html>