<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredientes</title>
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
    <div class="texto">
        <div class="ingredientes">
            <h1>Nuestros ingredientes</h1>
            <p>Seleccionamos cuidadosamente nuestros ingredientes para preparar cada una de nuestras recetas. Nos enfocamos en ofrecerte lo mejor, utilizando productos que garantizan sabor, nutrición y una experiencia culinaria única en cada bocado.</p>
        </div>
    </div>
    
    <div class="container">
        <div class="foto-ingredientes">
            <img src="/assets/images/banner.png" alt="Ingredientes frescos">
        </div>
    </div>
</body>
</html>