<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
    <div class="main-container"> 
        <div class="contacts">
            <h1>Contactos</h1>
            <ul class="contact-list">
                
                    <li class="contact-item"> <img src="/assets/images/helena.png" class="helena-img">
                <div class="contact-info">            
                    <strong>Helena</strong>
                    <span class="contact-email">email@figmasfakedomain.net</span>
                </div>    
                </li>
                
                    <li class="contact-item"> <img src="/assets/images/oscar.png" class="oscar-img"> 
                <div class="contact-info">
                    <strong>Oscar</strong>
                    <span class="contact-email">email@figmasfakedomain.net</span>
                </div>    
                </li>
                
                    <li class="contact-item"> <img src="/assets/images/daniel.png" class="daniel-img">
                <div class="contact-info">
                    <strong>Daniel</strong>
                    <span class="contact-email">email@figmasfakedomain.net</span>
                </div>    
                </li>
                
                    <li class="contact-item"> <img src="/assets/images/jay.png" class="jay-img">
                <div class="contact-info">
                    <strong>Diane Jay Park</strong>
                    <span class="contact-email">email@figmasfakedomain.net</span>
                </div>    
                </li>
                
                    <li class="contact-item"> <img src="/assets/images/mark.png" class="mark-img">
                <div class="contact-info">
                    <strong>Mark Rojas</strong>
                    <span class="contact-email">email@figmasfakedomain.net</span>
                </div>    


                </li>
            </ul>

        </div>









    </div>
</body>
</html>