<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Posts</title>
</head>
<body>
    <div class="main-post-container">
        <div class="all-posts">
            <!-- Post 1 -->
            <div class="post-box">
                <div class="user-info">
                    <div class="user-photo">
                        <img src="/assets/images/helena.png" class="profile-pic">
                    </div>
                    <div class="user-details">
                        <div class="user-name">Helena <span>in Group name</span></div>
                        <div class="post-time">3 min ago</div>
                    </div>
                    <div class="more">...</div>
                </div>
                
                <div class="post-content">
                    <div class="photo-post"></div>
                    <div class="post-text">
                        <p>Post description</p>
                    </div>
                </div>
                
                <div class="post-footer">
                    <div class="footer-actions">
                        <div class="action-item">
                            <img src="/assets/icons/Heart.png" class="action-icon">
                            <span class="action-text">2 likes</span>
                        </div>
                        <div class="action-item">
                            <img src="/assets/icons/Comment.png" class="action-icon">
                            <span class="action-text">5 comments</span>
                        </div>
                    </div>
                </div>
            </div>
             
            
            <!-- Post 2 -->
            <div class="post-box">
                <div class="user-info">
                    <div class="user-photo">
                        <img src="/assets/images/daniel.png" class="profile-daniel">
                    </div>
                    <div class="user-details">
                        <div class="user-name">Daniel <span>in Group name</span></div>
                        <div class="post-time">5 min ago</div>
                    </div>
                    <div class="more">...</div>
                </div>
                
                <div class="post-content">
                    <div class="photo-post"></div>
                    <div class="post-text">
                        <p>Post description</p>
                    </div>
                </div>
                
                <div class="post-footer">
                    <div class="footer-actions">
                        <div class="action-item">
                            <img src="/assets/icons/Heart.png" class="action-icon">
                            <span class="action-text">21 likes</span>
                        </div>
                        <div class="action-item">
                            <img src="/assets/icons/Comment.png" class="action-icon">
                            <span class="action-text">4 comments</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Post 3 -->
            <div class="post-box">
                <div class="user-info">
                    <div class="user-photo">
                        <img src="/assets/images/helena.png" class="profile-pic">
                    </div>
                    <div class="user-details">
                        <div class="user-name">Oscar <span>in Group name</span></div>
                        <div class="post-time">10 min ago</div>
                    </div>
                    <div class="more">...</div>
                </div>
                
                <div class="post-content">
                    <div class="photo-post"></div>
                    <div class="post-text">
                        <p>Post description</p>
                    </div>
                </div>
                
                <div class="post-footer">
                    <div class="footer-actions">
                        <div class="action-item">
                            <img src="/assets/icons/Heart.png" class="action-icon">
                            <span class="action-text">3 likes</span>
                        </div>
                        <div class="action-item">
                            <img src="/assets/icons/Comment.png" class="action-icon">
                            <span class="action-text">7 comments</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>