<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Posts</title>
</head>
<body>

    <div class="main-post-container">
    

         <div class="all-posts">
                                             <!-- Post numero uno -->

                <div class="post-box">
                    <div class="user-info">
                        <div class="user-photo"> <img src="/assets/images/helena.png" class="profile-pic"> </div>
                        <div class="user-name">Helena <span>in Group name</span> </div>
                        <div class="post-time">3 min ago</div>
                        <div class="more">...</div>
                    </div>
                    
                        <div class="photo-post">

                        </div>
                    <div class="post-footer">
                        <div class="post-text">
                            <p>Post description</p>
                        </div>
                        <div class="like-icon"> <img src="/assets/icons/Heart.png" class="helena-img"> </div>
                        <div class="number-likes">2 likes</div>
                        <div class="comment-icon"> <img src="/assets/icons/Comment.png" class="helena-img"> </div>
                        <div class="number-comments">5 comments</div>
                    </div>
                    
                                                <!-- Post numero dos -->

                </div>
                <div class="post-box">
                    <div class="user-info">
                        <div class="user-photo"> <img src="/assets/images/daniel.png" class="profile-pic"> </div>
                        <div class="user-name">Daniel <span>in Group name</span> </div> 
                        <div class="post-time">3 min ago</div>
                        <div class="more">...</div>
                    </div>
                    
                        <div class="photo-post">

                        </div>
                    <div class="post-footer">
                        <div class="post-text">
                            <p>Post description</p>
                        </div>
                        <div class="like-icon"> <img src="/assets/icons/Heart.png" class="helena-img"> </div>
                        <div class="number-likes">2 likes</div>
                        <div class="comment-icon"> <img src="/assets/icons/Comment.png" class="helena-img"> </div>
                        <div class="number-comments">5 comments</div>
                    </div>
                    
                </div>

                                                                <!-- Post numero tres -->

                <div class="post-box">
                    <div class="user-info">
                        <div class="user-photo"> <img src="/assets/images/oscar.png" class="profile-pic"> </div>
                        <div class="user-name">Oscar <span>in Group name</span> </div>
                        <div class="post-time">3 min ago</div>
                        <div class="more">...</div>
                    </div>
                    
                        <div class="photo-post">

                        </div>
                    <div class="post-footer">
                        <div class="post-text">
                            <p>Post description</p>
                        </div>
                        <div class="like-icon"> <img src="/assets/icons/Heart.png" class="helena-img"> </div>
                        <div class="number-likes">2 likes</div>
                        <div class="comment-icon"> <img src="/assets/icons/Comment.png" class="helena-img"> </div>
                        <div class="number-comments">5 comments</div>
                    </div>
                    
                </div>
         </div>

    </div>
    
</body>
</html>