.main-post-container {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  padding: 40px;
  height: 94vh;
}

.all-posts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  gap: 50px;
}

.post-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 400px;
  height: 400px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: gray 0px 0px 2px;  
  gap: 30px;
}

/*Información del usuario y también información del post */

.user-info {
  display: flex;
  flex-direction: row;  
  align-items: flex-start;  
  gap: 20px;
}

.user-photo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column; 
  gap: 4px; 
}


.post-time {
  margin-left: 0;  
  font-size: 14px;
  color: #A0AEC0;
}

.user-name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  font-size: 17px;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 17px;
  line-height: 1.5;
  font-weight: normal;
}

.more {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 105px;
}


/* Foto del post */ 

.photo-post {
  width: 100%;
  height: 250px;
  border-radius: 50%;
}


/* Footer del post */


.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.post-text {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
  line-height: 1.5;
}

.like-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.number-likes {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.comment-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.number-comments {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
